<div>

  <ul>
    <li *ngFor="let item of items ; let index= index">{{index}} :{{item}}</li>
  </ul>
</div>

<!-- <div class="card flex-col m-auto"  >
  <img src="assets/images/angular.png" width="200px" height="200" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
